@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem ;
}

main {
    margin: 0 auto;
    width: 50%;
}

.contacts
{
    display: flex;
    flex-direction: column;
}